html {
  font-size: 10px;
}

body {
  color: #283c46;
  background-color: #f5efe6;
  line-height: 1.5;
  margin-top: 0;
  font-size: 1.7rem;
}

.home {
  h3 {
    color: #aa9c84;
  }

  .home-header {
    margin-bottom: 3rem;
  }
}

.project-col {
  margin-bottom: 1.5rem;
}

.project-card {
  display: block;
  color: #283c46;
  background-color: #fff;
  box-shadow: 0 1px 2px #aa9c84;
  border-radius: 6px;
  padding: 1.5rem;
  height: 100%;

  &:hover {
    text-decoration: none;
    color: #283c46;
  }

  h4 {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.2rem;
  }
}

main.container {
  margin-top: 4rem;
}

@media (min-width: 48em) {
  .container {
    max-width: 68rem;
  }
}